.lobby-options {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 600px;
  height: 25px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.setting-input {
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  font-size: 14px;
  padding: 2px 5px;
  /* Loại bỏ mũi tên tăng giảm của input number */
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Loại bỏ mũi tên cho các trình duyệt khác */
.setting-input::-webkit-outer-spin-button,
.setting-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.setting-label {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

.setting-icon {
  margin-right: 0.25rem;
}

.disable {
  background-color: #cccccc;
  pointer-events: none;
  cursor: default;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .lobby-options {
    width: 300px;
    height: 100%;
    display: table;
    text-align: center;
  }

  .lobby-options > label {
    display: table-row;
  }

  .setting-label {
    display: table-cell;
    text-align: right;
  }

  .setting-input {
    align-self: flex-end;
  }
}